.botao{
    background-color: #6278f7;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0px;
}

.botao:hover{
    color: #95FFD4;
}