.rodape {
    background-color: #6278f7;
    padding: 20px 50px;
}

.container {
    display: flex;
    align-items: center;        
    justify-content: space-between; 
}

.ladoEsquerdo {
    display: flex;
    gap: 24px; 
    padding: 20px;
    
}

.ladoEsquerdo img{
    cursor: pointer;
}

.centro {
    display: flex;
    justify-content: center;
    flex: 1; 
    margin-left: 160px;
}

.ladoDireito {
    display: flex;
    justify-content: flex-end;
}

.ladoDireito h3{
    color: white;
}
