.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.formulario form{
    max-width: 80%;
    background-color: var(--gray-200);
    border-radius: 24px;
    padding: 36px 64px;
}

